name: CloudFormation Linter

on:
  workflow_call:
    inputs:
      gitRef:
        required: false
        type: string
        default: ${{ github.ref }}
  pull_request:
    paths:
      - "template.yaml"
  merge_group:
    types: [checks_requested]

jobs:
  lint_cloudformation:
    permissions:
      contents: read
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # pin@v3
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # pin@v4
        with:
          python-version: "3.13"

      - name: Install cfn-lint
        run: python -m pip install cfn-lint

      - name: Run linter
        run: cfn-lint template.yaml -r "eu-west-2"
